<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мой список дел To-Do</title>
</head>
<body>
    <h1>Добавьте задачу в To-Do список:</h1>
    <form action="{% url 'add_item' list_id=list.id %}" method="POST">
        {% csrf_token %}
        <input type="text" class="add_new_item_inp" name="new_item" placeholder="Название задачи">   
        <button type="submit">Добавить</button>
    </form>

    <br>
    <hr>
    <br>

    <h2>Все задачи To-Do:</h2>

    <div class="block_all_items">
        <ul>
            {% for item in list.item_set.all %}
                <li class="item">{{ forloop.counter }}. {{ item.text }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>